.sidebar .nav-link{
    color: rgba(255, 255, 255, 0.9) !important;
}

.sidebar {
    
    background-color: #15283c;
    color: #fff;
   
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.4);
   
    background-image: url(images/layout_img/pattern_h.png);
    
}